<html>

<head>
  <title>Hola Mundo</title>
  <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>

<body>
  <div id="app" class="container">
    <h1>Hola Mundo</h1>

    <button @click="holaMundo">Hola</button>

    <div>
      <b v-if="saludo">{{ saludo }}</b>
      <p v-if="error">{{ error }}</p>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const { createApp } = Vue;
    
    createApp({
        data() {
            return {
                nombre: '',
                saludo: '',
                error: '',
            };
        },

        methods: {
            holaMundo() {
                const url = '/holamundo';
                axios.get(url)
                    .then(response => {
                        this.saludo = response.data.saludo;
                        this.error = '';
                    })
                    .catch(error => {
                        this.saludo = '';
                        this.error = 'Error: ' + error;
                    });
            }
        }
    }).mount('#app');  
  </script>
</body>

</html>
