<html>

<head>
    <title>Personas</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>

<body>
    <div id="app" class="container">
        <h1>Personas</h1>

        <input type="text" class="form-control" placeholder="Nombre" v-model="nombre">

        <p>
            <button @click="agregar">Agregar</button>
        </p>

        <p v-if="error">{{ error }}</p>
        <p v-if="nuevaPersona">Persona agregada: {{ nuevaPersona.nombre }}</p>

        <p>
            <button @click="listar">Listar</button>
        </p>

        <p>Personas: {{ personas.length || 0 }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="persona of personas">
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>
                        <button @click="eliminar(persona)">Eliminar</button>
                        <button @click="abrirModal(persona)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <dialog ref="modificarItemDialog">
            <header>
                <h2>Modificar Item</h2>
            </header>
            <form method="dialog">
                <fieldset>
                    <label> id: {{ personaEditada.id }} </label>
                    <label> Texto: <input type="text" v-model="personaEditada.nombre" /> </label>
                </fieldset>
                <footer>
                    <button type="reset" @click="closeModificarItemDialog">Cancelar</button>
                    <button type="submit" @click.prevent="guardar">Guardar</button>
                </footer>
            </form>
        </dialog>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    nombre: '',
                    nuevaPersona: null,
                    personaEliminada: null,
                    personaEditada: {
                        id: 0,
                        nombre: ''
                    },
                    personas: [],
                    error: '',
                    myModal: null,
                };
            },

            methods: {
                async agregar() {
                    const url = '/personas';
                    const body = { nombre: this.nombre };

                    try {
                        this.error = '';
                        const response = await axios.post(url, body);
                        this.nuevaPersona = response.data;
                        this.listar();
                    } catch (error) {
                        this.error = 'Error: ' + error;
                        this.nuevaPersona = null;
                    }
                },

                async traer(id) {
                    const url = `/personas/${id}`;

                    try {
                        this.error = '';
                        const response = await axios.get(url);
                        this.personaEditada = response.data;
                        console.log(this.personaEditada);
                    } catch (error) {
                        this.error = 'Error: ' + error;
                    }
                },

                async guardar() {
                    const url = `/personas/${this.personaEditada.id}`;
                    const body = { nombre: this.personaEditada.nombre };
                    await this.closeModificarItemDialog();
                    try {
                        this.error = '';
                        const response = await axios.put(url, body);
                        this.listar();
                    } catch (error) {
                        this.error = 'Error: ' + error;
                    }
                },

                async listar() {
                    const url = '/personas';

                    try {
                        this.error = '';
                        const response = await axios.get(url);
                        this.personas = response.data;
                    } catch (error) {
                        this.error = 'Error: ' + error;
                    }
                },

                async eliminar(persona) {
                    console.log(persona);
                    const url = `/personas/${persona.id}`;

                    try {
                        this.error = '';
                        const response = await axios.delete(url);
                        this.personaEliminada = response.data;
                        this.listar();
                    } catch (error) {
                        this.error = 'Error: ' + error;
                    }
                },

                async abrirModal(persona) {
                    await this.traer(persona.id);
                    this.$refs.modificarItemDialog.showModal();
                },

                closeModificarItemDialog() {
                    this.$refs.modificarItemDialog.close();
                },

            },


            mounted() {
                this.listar();
            },
        }).mount('#app');  
    </script>

</body>

</html>